### IntelliJ IDEA ###
.idea
!.idea/
.idea/*
.idea/runConfigurations/
*.iws
*.iml
*.ipr

*.log*
.gradle/
target/
build/
out/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
